@charset "UTF-8";


body {
    margin: auto;
}

ul {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 10px;
    display: inline;
    margin-right: 100px;
    
}

a {
    
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    background-color: coral;
}