@charset "UTF-8";

:root {
  --cor-fundo:            #fdfdfd;
  --cor-menu:             #2c3e50;   /* faixa do menu */
  --cor-link-hover:       #3b526d;
  --cor-botao:            #c2d3e0;
  --cor-botao-hover:      #a5b9c9;
  --cor-texto:            #2e2e2e;

  --cor-paragrafo-fundo:  #e3fafd;   /* azul bem suave para blocos de texto */
  --cor-foto-borda:       #2c3e50;   /* azul médio, em sintonia com o cinza */
}


body {
    margin: auto;

}

nav {
    box-shadow: deslocamento-x deslocamento-y desfoque espalhamento cor;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-foto-borda);

}

nav ul {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

nav li {
    margin: 10px;
    display: inline;
    margin-right: 10px;

    
}

nav a {
    text-decoration: none;
    color: white;
    background-color: var(--cor-menu);
    }

   nav a:hover {
    text-decoration: none;
    color:white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* sombra suave branca */
    
    } 
h1 {
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: var(--cor-texto);
}

.bloco {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 800px;
    height: 250px;
    background-color: var(--cor-paragrafo-fundo);
    box-shadow: deslocamento-x deslocamento-y desfoque espalhamento cor;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    
}

.bloco a {
    display: flex;
    max-width: 200px;
    justify-content: center;
    text-decoration: none;
    background-color: var(--cor-foto-borda);
    box-shadow: deslocamento-x deslocamento-y desfoque espalhamento cor;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.pum {
    color: var(--cor-texto);
}


.pdois {
    border-left: 3px solid var(--cor-foto-borda);
    padding-left: 20px;
    color: var(--cor-texto);
}

.ptres {
    border-left: 3px solid var(--cor-menu);
    padding-left: 20px;
    color: var(--cor-texto);
    
}

.botao {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
    background-color: var(--cor-botao);
    width: 200px;
    box-shadow: deslocamento-x deslocamento-y desfoque espalhamento cor;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.botao:hover {
    background-color: var(--cor-botao-hover); 
}

a {
    text-decoration: none;
     width: 200px;
     color: var(--cor-texto);
}

.ptres a {
margin-top: 50px;
}


.botao a:hover {
    text-decoration: none;
    background-color: var(--cor-botao-hover);
}