@charset "UTF-8";  /*Codificação para caracteres*/

:root {  /*variáveis globais*/
    /*Cores*/

    --cor-fundo: #fdfdfd;
    --cor-link-hover: #3b526d;
    --cor-cinza-claro: #c2d3e0;
    --cor-cinza-médio: #a5b9c9;
    --cor-texto-principal: #2e2e2e;
    --cor-azul-claro: #e3fafd;
    --cor-azul-escuro: #2c3e50;

    /* Fontes */
    --fonte-titulo: Georgia, serif;
    --fonte-paragrafo-menu: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;  /*centralizar todo o conteúdo na página*/
}

nav { /*estilização do menu com sombra e cor de fundo*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-azul-escuro);
}

nav ul { /*deixando os itens da lista em linha horizontal*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav li { /*deixando os intens da lista lado a lado*/
    margin: 10px;
    display: inline;
    margin-right: 10px;
}

nav a { /*estilizando links do menu*/
    text-decoration: none;
    color: white;
    background-color: var(--cor-azul-escuro);
    font-family: var(--fonte-paragrafo-menu);
}

nav a:hover { /*estilização específica quando o cursor passa sobre o link*/
    text-decoration: none;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    /* sombra suave branca */
}

h1 { /*estilizando título*/
    text-align: center;
    margin-bottom: 30px;
    color: var(--cor-texto-principal);
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
}

section { /*estilizando elementos que ficam dentro da seção*/
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    margin: auto;
}

.paragrafos { /*estilizando parágrafos*/
    display: flexbox;
    background-color: var(--cor-azul-claro);
    border: 2px solid var(--cor-azul-escuro);
    width: 600px;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--cor-azul-claro);
    color: var(--cor-texto-principal);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.foto { /*estilizando tamanho da foto e cor da borda, sombra*/
    display: flex;
    justify-content: flex-start;
    max-width: 300px;
    border: 3px solid var(--cor-azul-escuro);
    border-radius: 50%;
    margin-left: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

img { /*estilizando formato da foto*/
    border-radius: 50%;
}

.botao { /*estilizando tamanho, formato, cor da div que contém o link que simula o botão*/
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    background-color: var(--cor-cinza-claro);
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: var(--fonte-paragrafo-menu);
}

.botao:hover { /*estilização específica quando o cursor passa sobre o bloco do botão*/
    background-color: var(--cor-cinza-médio);
}

a { /*estilizando link do botão*/
    text-decoration: none;
    width: 200px;
    color: var(--cor-texto-principal);
}

.botao a:hover { /*estilização específica quando o cursor passa sobre o link do botão*/
    text-decoration: none;
    background-color: var(--cor-cinza-médio);
}

footer { /*estilizando rodapé*/
  background-color: var(--cor-azul-escuro);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-family: var(--fonte-paragrafo-menu);
  font-size: 14px;
  margin-top: 50px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}


